USE [Assignment]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](150) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[displayname] [varchar](150) NOT NULL,
	[stdid] [varchar](150) NULL,
	[lecid] [varchar](150) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[sesid] [int] NOT NULL,
	[stdid] [varchar](150) NOT NULL,
	[present] [bit] NULL,
	[description] [varchar](150) NULL,
	[record_time] [datetime] NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[sesid] ASC,
	[stdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[gid] [int] NOT NULL,
	[gname] [varchar](50) NOT NULL,
	[subcode] [varchar](50) NOT NULL,
	[lecid] [varchar](150) NOT NULL,
	[sem] [varchar](150) NOT NULL,
	[year] [int] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[lecid] [varchar](150) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[email] [varchar](150) NULL,
	[image] [varchar](150) NULL,
 CONSTRAINT [PK_Lecture] PRIMARY KEY CLUSTERED 
(
	[lecid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[rid] [int] NOT NULL,
	[rname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[sesid] [int] NOT NULL,
	[gid] [int] NOT NULL,
	[rid] [int] NOT NULL,
	[date] [date] NOT NULL,
	[tid] [int] NOT NULL,
	[index] [int] NOT NULL,
	[lecid] [varchar](150) NOT NULL,
	[attended] [bit] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[sesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[stdid] [varchar](150) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
	[email] [varchar](150) NULL,
	[image] [varchar](150) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[stdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Group]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Group](
	[gid] [int] NOT NULL,
	[stdid] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Student_Group] PRIMARY KEY CLUSTERED 
(
	[gid] ASC,
	[stdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subcode] [varchar](50) NOT NULL,
	[subname] [varchar](150) NOT NULL,
	[numberOfSlots] [int] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 12/11/2022 2:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[tid] [int] NOT NULL,
	[slottime] [varchar](150) NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [displayname], [stdid], [lecid]) VALUES (N'anhnn', N'123', N'Nguyen Ngoc Anh', NULL, N'AnhNN')
INSERT [dbo].[Account] ([username], [password], [displayname], [stdid], [lecid]) VALUES (N'haind', N'123', N'Nguyen Duc Hai', N'HE150561', NULL)
INSERT [dbo].[Account] ([username], [password], [displayname], [stdid], [lecid]) VALUES (N'hapn', N'123', N'Pham Ngoc Ha', NULL, N'HaPN')
GO
INSERT [dbo].[Attendance] ([sesid], [stdid], [present], [description], [record_time]) VALUES (6, N'HE130303', NULL, NULL, NULL)
INSERT [dbo].[Attendance] ([sesid], [stdid], [present], [description], [record_time]) VALUES (6, N'HE150335', NULL, NULL, NULL)
INSERT [dbo].[Attendance] ([sesid], [stdid], [present], [description], [record_time]) VALUES (6, N'HE150561', NULL, NULL, NULL)
GO
INSERT [dbo].[Group] ([gid], [gname], [subcode], [lecid], [sem], [year]) VALUES (1, N'Se1622', N'JPD123', N'AnhNN', N'FALL', 2022)
INSERT [dbo].[Group] ([gid], [gname], [subcode], [lecid], [sem], [year]) VALUES (2, N'Se1623', N'SWE201c', N'HaPN', N'FALL', 2022)
INSERT [dbo].[Group] ([gid], [gname], [subcode], [lecid], [sem], [year]) VALUES (3, N'SE1624', N'CSD201', N'HaPN', N'FALL', 2022)
GO
INSERT [dbo].[Lecturer] ([lecid], [name], [email], [image]) VALUES (N'AnhNN', N'Nguyen Ngoc Anh', N'AnhNN59@fe.edu.vn', NULL)
INSERT [dbo].[Lecturer] ([lecid], [name], [email], [image]) VALUES (N'DuongNV', N'Nguyen Van Duong', N'duongnv44@fe.edu.vn', NULL)
INSERT [dbo].[Lecturer] ([lecid], [name], [email], [image]) VALUES (N'HaPN', N'Pham Ngoc Ha', N'HaPN10@fe.edu.vn', NULL)
GO
INSERT [dbo].[Room] ([rid], [rname]) VALUES (1, N'AL-L207')
INSERT [dbo].[Room] ([rid], [rname]) VALUES (2, N'BE-215')
INSERT [dbo].[Room] ([rid], [rname]) VALUES (3, N'BE-316')
GO
INSERT [dbo].[Session] ([sesid], [gid], [rid], [date], [tid], [index], [lecid], [attended]) VALUES (1, 1, 3, CAST(N'2022-12-05' AS Date), 1, 1, N'AnhNN', NULL)
INSERT [dbo].[Session] ([sesid], [gid], [rid], [date], [tid], [index], [lecid], [attended]) VALUES (2, 1, 3, CAST(N'2022-12-05' AS Date), 2, 2, N'AnhNN', NULL)
INSERT [dbo].[Session] ([sesid], [gid], [rid], [date], [tid], [index], [lecid], [attended]) VALUES (3, 1, 3, CAST(N'2022-12-07' AS Date), 1, 3, N'AnhNN', NULL)
GO
INSERT [dbo].[Student] ([stdid], [name], [gender], [dob], [email], [image]) VALUES (N'HE130025', N'Vu Tuan Huy', 1, CAST(N'1999-02-23' AS Date), N'huyvtHe130025@fpt.edu.vn', NULL)
INSERT [dbo].[Student] ([stdid], [name], [gender], [dob], [email], [image]) VALUES (N'HE130303', N'Nguyen Huy Tung', 1, CAST(N'1999-05-06' AS Date), N'tungnhhe130303@fpt.edu.vn', NULL)
INSERT [dbo].[Student] ([stdid], [name], [gender], [dob], [email], [image]) VALUES (N'HE135525', N'Le Thanh cong', 1, CAST(N'1998-02-05' AS Date), N'conglthe135525@fpt.edu.vn', NULL)
GO
INSERT [dbo].[Student_Group] ([gid], [stdid]) VALUES (1, N'HE130025')
INSERT [dbo].[Student_Group] ([gid], [stdid]) VALUES (1, N'HE130303')
INSERT [dbo].[Student_Group] ([gid], [stdid]) VALUES (1, N'HE135525')
GO
INSERT [dbo].[Subject] ([subcode], [subname], [numberOfSlots]) VALUES (N'CSD201', N'Data Structures and Algorithms', 31)
INSERT [dbo].[Subject] ([subcode], [subname], [numberOfSlots]) VALUES (N'DBI202', N'Introduction to Databases', 33)
INSERT [dbo].[Subject] ([subcode], [subname], [numberOfSlots]) VALUES (N'IOT102', N'Internet of Things', 30)
GO
INSERT [dbo].[TimeSlot] ([tid], [slottime]) VALUES (1, N'7h30 - 9h')
INSERT [dbo].[TimeSlot] ([tid], [slottime]) VALUES (2, N'9h10 - 10h40')
INSERT [dbo].[TimeSlot] ([tid], [slottime]) VALUES (3, N'10h50 - 12h20')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Lecturer] FOREIGN KEY([lecid])
REFERENCES [dbo].[Lecturer] ([lecid])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Lecturer]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Student] FOREIGN KEY([stdid])
REFERENCES [dbo].[Student] ([stdid])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Student]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Session] FOREIGN KEY([sesid])
REFERENCES [dbo].[Session] ([sesid])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Session]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([stdid])
REFERENCES [dbo].[Student] ([stdid])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Lecturer] FOREIGN KEY([lecid])
REFERENCES [dbo].[Lecturer] ([lecid])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Lecturer]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Subject] FOREIGN KEY([subcode])
REFERENCES [dbo].[Subject] ([subcode])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Subject]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Group]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Lecturer] FOREIGN KEY([lecid])
REFERENCES [dbo].[Lecturer] ([lecid])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Lecturer]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Room] FOREIGN KEY([tid])
REFERENCES [dbo].[Room] ([rid])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Room]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_TimeSlot] FOREIGN KEY([tid])
REFERENCES [dbo].[TimeSlot] ([tid])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_TimeSlot]
GO
ALTER TABLE [dbo].[Student_Group]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[Student_Group] CHECK CONSTRAINT [FK_Student_Group_Group]
GO
ALTER TABLE [dbo].[Student_Group]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group_Student] FOREIGN KEY([stdid])
REFERENCES [dbo].[Student] ([stdid])
GO
ALTER TABLE [dbo].[Student_Group] CHECK CONSTRAINT [FK_Student_Group_Student]
GO
